<h1>Stripe Test Page</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p>Testing: Make a one time $5.00 payment. (Stripe Docs)</p>
<%= link_to 'Payment Page', controller: 'charges', action: 'new'%>
