<h1>Stripe Test Page</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p>Test 1: Make a one time $5.00 payment. (Stripe Docs and Devise)
<%= link_to 'Click This: Payment Page', controller: 'charges', action: 'new'%></p>
<p>Test 2: Make a monthly subscription.</p>
